<h1 align="center">Это мой ебучий диплом!</h1>
<p align="center">В данной работе я должен показать все свои знания полученые за 5 лет обучение в ибучем универ.</br> 
Хотя программа херня но заебут мозги мне с документацие. Я бы мог послать всё нахер и пойти в армейку</br>
но жалко терять 4 года дневной формы. Иногда на меня наподают мыс ну всё наху. Но нет нужно делать.</br>
На самом деле это будет главной странице моего проекта не знал что написать поэтому написал первое</br>
что пришло в голову. Конечно я потом всё это изменю. Главное не забыть про эту страницу.=)</p>